@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-stars {
    background: radial-gradient(white 1px, transparent 1px),
      radial-gradient(white 1px, transparent 1px);
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
    opacity: 0.5; /* bump it from 0.3 to 0.5 */
  }
}
